/* .main {
    max-width: 1200px;
} */
.maincontainer {
    display: flex;
    /* max-width: 1200px; */
    flex-direction: row;
}

.imagescontainer {
    width: 80%;
}

/* ****  featured product container *****/

.featuredproductcontainer {
    /* width: 101%;
    max-width: 120%; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    outline: 1px solid black;
    /* width: 100%; */
    width: 98%;
    /* width: 1895px; */
    margin: 10px 0px 0px 35px;
    /* height: 200px; */
    max-height: 800px;
    margin-bottom: 20px;
    outline: 1px solid rgb(0, 0, 0);
    /* outline: 10px solid blue; */
}

h2.featuredproductbar {
    display: flex;
    flex-direction: column;
    background-color: #c1c8dc;
    justify-content: center;
    height: 80px;
    font-size: 30px;
    padding-top: 10px;
    outline: black 1px solid;
    /* outline: 10px solid yellow; */
}

.allitemscontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 60px; */
    max-height: 600px;
        flex-wrap: wrap;
    /* outline: 15px solid orange; */
    /* flex-direction: column; */
}
.featureditemcontainer {
    /* height: 300px; */
    max-height: 400px;
    padding: 0px 20px 0px 20px;
    /* outline: 15px solid rgb(243, 13, 182); */
}
.featureditemcontainer #itemimage {
    width: 220px;
    height: auto;
    margin: 10px;
    object-fit:scale-down;
    /* object-fit: scale-down; */
    display: block;

    /* outline: 15px solid purple; */
}

.searchcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 1142px; */
    max-width: 98.5%;
    /* padding-left: 10px; */
    width: 100%;
    height: auto;
    margin-left: 30px;
    /* padding-left: 10px; */
}

.searchbar {
    /* display: flex;
    max-width: 90%;
    justify-content: space-evenly; */
    justify-content: space-evenly;
    /* outline: 5px solid green; */
    /* align-items: center; */
    display: flex;
    width: 100%;
    background-color: #c1c8dc;
    border: 1px solid black;
    padding: 10px;
    /* margin-left: 19px; */

}

.searchtext {
    display: flex;
    /* justify-items: center; */
    align-self: center;
    padding-left: 10px;
    margin: 0px;
    /* outline: 5px solid red; */
}

.searchInputContainer {
    display: flex;
    /* flex-direction: column; */
    width: 600px;
    justify-content: flex-end;
    /* outline: 5px solid purple; */
}

.searchLabel {
    display: flex;
    /* font-size: 5px; */
    align-self: center;
    font-size: 26px;
    margin-right: 4px;
    ;
    /* padding: 10px 10px 0px 70px; */
    font-weight: bold;
}

#searchInput {
    align-self: center;
    padding: 2px;
    height: 50px;
    width: 200px;
    margin: 2px;
    ;
    /* outline: 5px solid orange; */
}

.productimgcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    border: 1px solid black;
    border-top: none;
    /* margin-left: 19px; */
    margin-bottom: 10px;
    height: 600px;
    /* max-width: 1500px; */
    padding: 20px 0px 20px 60px;
    overflow-y: auto;
    overflow-x: auto;
    /* outline: 15px solid purple; */
}

.productimgcontainer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
}

.productimgcontainer a figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    width: 70%;
    gap: 10px;
    /* margin: 10px; */
}

.productimgcontainer img {
    width: 220px;
    height: auto;
    margin: 10px;
    object-fit: scale-down;
    display: block;
    /* outline: red 5px solid; */
}

figure {
    padding: 0;
    margin: 0;
    /* font-size: 60px; */
    max-width: 125px;
    max-height: 175px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

figcaption {
    font-size: 25px;
    font-weight: bold;
}


#ipads {
    max-width: 80px;
    width: 100%;
    height: 75px;
    margin-top: 15px;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    width: 18%;
    /* width: 20%; */
}

.newProductscontainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    outline: 1px solid black;
    width: 98%;
    margin: 10px 0px 0px 15px;
    max-height: 950px;
    outline: 1px solid rgb(0, 0, 0);
}

h2.newProductbar {
    background-color: #c1c8dc;
    align-content: center;
    height: 80px;
    font-size: 30px;
    padding-top: 10px;
    outline: black 1px solid;
}

#m3mbp {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 360px;
    max-width: 100%;
    /* outline: 10px solid orange; */
}

#m4ipadpro {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 360px;
    max-width: 100%;
    /* outline: 10px solid orange; */
}

.itemName {
    font-size: 30px;
    /* font-weight: bold; */
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* margin: 10px 10px 0px 10px; */
    height: 100%;
    width: 100%;
    /* outline: 1px solid black; */
}

h3.homepageh3 {
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
}

p.homepagep {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: blue
}

.questions {
    font-size: 22px;
    margin: 5px;
}

@media screen {}