/* comparison-page.css */
.comparison-page {
  font-family: Arial, sans-serif;
}

.compare-products-info {
  display: flex;
  flex-direction: row;
  gap: 2%;
  margin: 20px 5px;
  height: 900px;
}

.table-container {
  flex: 6; /* 30% */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    /* max-width: 1400px; */
    width: 70%;
    height: 900px;
    /* margin: 0 auto; */
    margin-left: 20px;
    padding: 20px;
    outline: red solid 2px;
    outline: black solid 2px;

  }

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #333;
  margin-bottom: 25px;
  /* margin: 30px; */
  outline: 2px solid black;
  color: black;
  background-color: #c1c7dc;
  font-size: 24px;
  width: 55%;
  width: fit-content;
  /* margin: 1em auto; */
  padding: 20px;
  box-sizing: border-box;
}

.comparison-table {
  width: 1400px;
  max-height: 900px;
  overflow-x: auto;
}

.comparison-table table {
  width: 100%;
  /* height: 700px; */
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 40px;
}

.comparison-table th,
.comparison-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 30px;
}

.comparison-table th {
  background-color: #f4f4f4;
  color: #333;
}

.comparison-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.comparison-table tbody tr:hover {
  background-color: #f1f1f1;
}

.text-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    /* max-width: 1400px; */
    width: 70%;
    height: 900px;
    /* margin: 0 auto; */
    /* margin-left: 20px; */
    padding: 20px;
  margin-right: 20px;
  outline: 1px solid black;
  /* outline: 2px solid purple; */
  background-image: url("/circuitboardtrans.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-box {
  /* height: 900px;
  width: 100%; */
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: left;
  /* outline: 2px solid orange; */
}

.text-box p,
.text-box h2 {
  text-align: left;
  margin: 0 0 10px 0;
}

.text-box h2 {
  margin-top: 20px;
}

@media (max-width: 768px) {

  .comparison-table th,
  .comparison-table td {
    padding: 8px;
  }

  .text-box {
    padding: 10px;
  }

}