/* comparison-page.css */
.comparison-page {
  font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

h1 {
  text-align: center;
  justify-content: center;
  color: #333;
  /* margin-bottom: 20px; */
  margin: 20px auto;
  outline: 2px solid black;
  color: black;
  background-color: #c1c7dc;
  font-size: 24px;
  width: 75%;
  /* margin: 1em auto; */
  padding: 5px;
}

.comparison-table {
  overflow-x: auto;
}

.comparison-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.comparison-table th,
.comparison-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.comparison-table th {
  background-color: #f4f4f4;
  color: #333;
}

.comparison-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.comparison-table tbody tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {

  .comparison-table th,
  .comparison-table td {
    padding: 8px;
  }
}