.maincontainer {
    display: flex;
    flex-direction: row;
}

.imagescontainer {
    width: 80%;
    /* width: 80%; */
}


.featuredimg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    max-width: 1500px;
    width: 100%;
    height: auto;
}

.featurescontainer {
    width: 100%;

}

.productimgcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 5px;
    border: 1px solid black;
    border-top: none;
    margin-left: 19px;
    margin-bottom: 10px;;
    height: 350px;
    max-width: 1500px;
    padding: 10px;
}

.productimgcontainer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
}

.productimgcontainer a figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    width:70%;
    gap: 10px;
}

.productimgcontainer img {
    width: 100%;
    height: auto;
    max-width: 200px; /* Ensures all images have the same max width */
    max-height: 150px; /* Ensures all images have the same max height */
    object-fit: cover; /* Ensures the images maintain aspect ratio and are cropped if necessary*/
    display: block; 
}

#specialItem {
    grid-column: 5/6;
    grid-row: 1/3;
    max-width: 100px;
    width: 100%;
    height: 200px;
    margin-top: 5px;
}

.searchcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        /* width: 1142px; */
    /* max-width: 1138px;
    padding-left: 10px;
    width: 100%;
    height: auto; */
    flex-grow: 1;
    padding-left: 10px;
}


.searchbar {
    display: flex;
    /* outline: 5px solid green; */
    justify-content: space-evenly;
}

.searchtext {
    display: flex;
    align-self: center;
    padding-left: 10px;;
    /* outline: 5px solid red; */
}

.searchInputContainer {
    display: flex;
    /* flex-direction: column; */
    width: 600px;
    justify-content: space-between;
    /* outline: 5px solid purple; */
}

.searchLabel {
    display: flex;
    /* font-size: 5px; */
    align-self: center;
    font-size: 18px;
    /* padding: 10px 10px 0px 70px; */
    font-weight: bold;
}

#searchInput {
    align-self: center;
    padding: 2px;
    height: 50px;
    width: 350px;
    /* outline: 5px solid orange; */
}

figure {
    padding: 0;
    margin: 0;
    max-width: 125px;
    max-height: 175px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

#macbooks {
    max-width: 125px;
    width: 100%;
    height: auto;
}

#ipads {
    max-width: 80px;
    width: 100%;
    height: 75px;
    margin-top: 15px;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    width: 18%;
    /* width: 20%; */
}

.newProductscontainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    outline: 1px solid black;
    width: 100%;
    margin: 10px 0px 0px 0px;
    max-height: 750px;
}

.newProductbar {
    background-color: #c1c8dc;
    height: 40px;
    font-size: 24px;
    padding-top: 10px;

}

#M3MBPimage {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 160px;
    max-width: 100%;
}

#m4ipadproimage {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    /* height: 200px;
    width: 210px; */
    max-width: 100%;
}

.itemName {
    font-size: 20px;;
    font-weight: bold;
}
.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 10px 10px 0px 10px;
    height: 100%;
    width: 100%;
    /* outline: 1px solid black; */
}

.questions {
    font-size: 18px;
}

@media screen {
    
}