.categoryheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4%;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    ;
    /* justify-content: center; */
}

.productsearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #c1c8dc;
    text-align: center;
    margin: 5px 0;
    height: 50px;
}

.productsearch label {
    /* width: 300px; */
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.productsearch input {
    font-size: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    /* Set background color */
}

.categorycontainer {
    display: flex;
    background-color: #c1c8dc;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.categorytype {
    display: flex;
    justify-content: space-around;
    color: black;
    width: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin: 10px;
    font-size: 25px;
    ;
    /* background-color: red; */
    text-align: center;

}

.maincontainer {
    display: flex;
    height: 50%;
    max-height: 50%;
    padding-top: 10px;
    gap: 10px;
}

.filtercontainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* .filterText {
    align-items: left;
    padding-left: 20px;
} */


.filterby {
    height: 3rem;
    text-align: center;
    /* font-weight: bolder; */
    /* margin-bottom: 20px; */
    background-color: #c1c8dc;
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-size: 35px;
}

.filterByCategory {
    margin-top: 25px;
    font-size: 30px;
    ;
    /* color: green; */
    /* font-weight: bold; */
}

.filterBySpecials {
    margin-top: 4%;
    font-size: 25px;
    padding: 5px;
}

/* .filterByCategoryItem {
color: green;
} */

.divider {
    border: 1px solid #c1c8dc;
    /* Adjust the color and thickness as needed */
    width: 80%;
    /* Ensure the line spans the full width */
    /* margin: 20px; */
    /* margin-bottom: 20px;
    margin-top: 20px; */
    
    /* outline: 20px solid red;; */
    /* Adjust spacing around the line */
}

.categoryproductcontainer {
    display: flex;
    /* grid-template-columns: repeat (3, 1fr); */
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content:space-evenly; */
    padding: 5px;
    width: 100%;
    min-height: 750px;
    height: 100%;
    max-height: 750px;
    outline: 1px solid black;
    gap: 20px 80px;
    padding: 20px 0px 20px 100px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: auto;
    /* outline: red 10px solid; */

}

.testdiv {
    height: 300px;
    width: 300px;
}

.categoryproductcontainer a {
    display: block;
    /* width: 20%; */
    text-align: center;

}

.categoryproductcontainer img {
    width: 200px;
    height: 250px;
    /* object-fit: cover; */
    object-fit: scale-down;
    height: 0 auto;
    display: block;
}

.categoryproductcontainer figcaption {
    font-size: 28px;
    /* Increase the font size for item names */
    margin-top: 10px;
    color: #333;
    color: blue;
    /* Add a color if needed */
}

.categoryproductcontainer figure {
    /* padding: 0;
    margin: 0; */
    /* font-size: 60px; */
    max-width: 250px;
    max-height: 175px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.imagenamecontainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    ;
}

.comparetrade {
    display: flex;
    flex-direction: column;
    /* background-color: lightgray; */
    width: 30%;
    margin-bottom: 10px;
    margin-right: 10px;
    align-items: center;
    outline: 1px solid black;
}

.comparetrade h2 {
    display: flex;
    font-size: 40px;
    /* flex-direction: column; */
    background-color: #c1c8dc;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 1px;
    align-items: center;
    outline: 1px solid black;
}

.comparetrade img {
    /* max-width: 100%; */
    height: auto;
    width: 350px;
    /* max-height: 200px; */
    margin-bottom: 10px;
    outline: 2px solid black;
}


.chat {
    background-color: #c1c8dc;
    outline: 1px solid black;
    justify-content: space-around;
    text-align: center;
    margin-top: 5px;
    /* font-size: 16px; */
    font-weight: bold;
    /* outline: 5px solid red; */
}

.chat p {
margin: 5px;
font-size: 25px;
    /* outline: 5px solid green; */
}

.chat a {
    font-size: 30px;
    font-weight: bold;
    /* outline: 5px solid orange; */
}

/* #specialItem {
    grid-column: 5/6;
    grid-row: 1/3;
    max-width: 100px;
    width: 100%;
    height: 200px;
    margin-top: 5px;
} */

.categoryheader {
    display: flex;
    justify-content: flex-start;
    /* width: 100%; */
    margin-left: 20px;
}

.cpsearchcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 1142px; */
    /* max-width: 1455px; */
    /* padding-left: 10px; */
    width: 70%;
    height: auto;
    /* margin-left: 25px;
    margin-right: 20px; */
    margin: 20px 0px 10px;
    /* flex-grow: 1; */
    /* padding-left: 10px; */
}

.cpsearchbar {
    /* display: flex;
    max-width: 90%;
    justify-content: space-evenly; */
    justify-content: space-between;
    /* outline: 5px solid green; */
    /* align-items: center; */
    display: flex;
    width: 100%;
    background-color: #c1c8dc;
    border: 1px solid black;
    padding: 10px;
    /* margin-left: 19px; */

}

.cpsearchtext {
    display: flex;
    /* justify-items: center; */
    align-self: center;
    padding-left: 10px;
    margin: 0px;
    /* outline: 5px solid red; */
}

.cpsearchInputContainer {
    display: flex;
    /* flex-direction: column; */
    width: 600px;
    justify-content: flex-end;
    /* outline: 5px solid purple; */
}

.cpsearchLabel {
    display: flex;
    /* font-size: 5px; */
    align-self: center;
    font-size: 26px;
    margin-right: 4px;
    ;
    /* padding: 10px 10px 0px 70px; */
    font-weight: bold;
}

#cpsearchInput {
    align-self: center;
    padding: 2px;
    height: 50px;
    width: 200px;
    margin: 2px;
    ;
    /* outline: 5px solid orange; */
}