.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.border-top-gray {
  border-top-color: #adb5bd;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-condensed {
  line-height: 1.25;
}

.account-container {
  display: flex;
  justify-content: space-around;
}

.accountsession {
  width: 50%;
  outline: 2px solid black;
}

.info-title {
  outline: 1px solid black;
  color: black;
  background-color: #c1c7dc;
  font-size: 24px;
  width: 75%;
  margin: 1em auto;
  padding: 5px;
}

.info-title.saved {
  font-size: 24px;
  width: 100%;
}

.account-info p {
  font-size: 1.5em;
  margin: 0;
  padding: 5px;
}

.ordersection {
  width: 40%;
  height: 800px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 2px solid black;
}

.shippingsection {
  display: flex;
  flex-direction: column;
}

.shippingsection div {
padding: 10px;
}

.payment-inputs-wrapper {
  border: 2px solid black; /* Add border to see the container */
  padding: 20px; /* Add padding to the container */
  overflow: auto; /* Ensure container can grow */
}

.payment-inputs-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}

.payment-inputs-wrapper .col-md-6,
.payment-inputs-wrapper .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

.creditcardsection {
  display: flex;
  justify-content: center;
  width: 40%;
  // background-color: #c1c8dc;
  color: black;
  border: 2px solid black;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
  margin-left: 55%;
  // width: 80%;
  // margin-bottom: 20px;
}

.creditcardsection h4 {
  background-color: #c1c8dc;
  color: black;
  border: 2px solid black;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
  // margin-bottom: 20px;
}

.creditcardsection div {
  // display: flex;
  // flex-direction: row;
  padding: 10px;
}

.creditcardsection input {
  background-color: #c1c8dc;
  padding: 10px;
  outline: black solid 2px;
}

.nameediv {
  margin-top: 20px;
}

.cardimagediv svg {
  margin-right: 90%;
  width: 60px;
  height: 60px;
}
