
#headercontainer.container {
    display: flex;
    flex-direction: column;;
    max-height: 150px;
    width: 100%;
}


#headercontainer span.navbar-brand {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 800px;
    min-height: 70px;
    }

    #headerdiv1 {
        font-size: 30px;
        color: white
        /* background-image: url("../public/Capstone\ home\ page\ gradient\ \ 1psd.png");
        background-size: cover; */
    }

    .header {
        background-image: url("../public/Capstone\ home\ page\ gradient\ \ 1psd.png");
        background-size: cover;
        height: 10vh;
        width: 100%;
    }

    

    .vertical-gradient {
        background: linear-gradient(to bottom, rgb(4, 4, 26), rgb(34, 96, 146));

    }

    .brandcontainer {
        display: flex;
        justify-content: space-between;
        min-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .linkcontainer {
        display: flex;
        padding-left: 20px;
    }

    #cart {
        padding-right: 20px;
        margin-right: 10;
    }

    .cartcontainer {
        padding-right: 20px;
    }

    .custom-badge {
        background-color: blue; /* or your desired color */
        color: black;
        font-size: 12px;
        /* padding: 2px 6px; */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
      }

      .cart-icon {
        margin-right: 10px; /* Add margin to the right of the cart icon */
      }

    
    