#headercontainer.container {
    display: flex;
    flex-direction: column;
    max-height: 150px;
    /* max-width: 1200px; */
    width: 100%;
    padding: 0px;
    margin: 0px;
}


#headercontainer span.navbar-brand {
    display: flex;
    align-items: center;
}

#headerdiv1 {
    font-size: 60px;
    color: white;
    margin-left: 15%;

}

.header {
    background-image: url("../public/Capstone\ home\ page\ gradient\ \ 1psd.png");
    background-size: cover;
    height: 8vh;
    width: 100%;
}

.vertical-gradient {
    background: linear-gradient(to bottom, rgb(4, 4, 26), rgb(34, 96, 146));
}

#basic-navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brandcontainer {
    display: flex;
    justify-content: flex-start;
    /* outline: 10px solid rgb(242, 83, 154); */
}

.linkcontainer {
    display: flex;
    margin-left: 140px;
    padding-left: 20px;
    font-size: 26px;
    width: 100%;
}

.cartcontainer {
    display: flex;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 40%;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    /* outline: 5px solid rgb(255, 47, 182); */
}

#cart {
    padding-right: 20px;
    margin-right: 10;
    font-size: 40px;
}


.cartcontainer .custom-badge {
    height: 50px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    font-size: 25px;
    margin-top: 10px;
    /* outline: 5px solid rgb(255, 241, 47); */
}

.custom-login {
    font-size: 60px;
    margin-left: 20px;
    /* outline: 5px solid rgb(255, 47, 213); */
}

#logindiv {
    margin-left: 210px;
    /* outline: 5px solid rgb(47, 255, 68); */
    width: 200px;
    font-size: 30px;
}