.chat-page-container {
  display: flex;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin: 10px auto 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 1350px;
  }
  
  .chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .chat-window {
    flex: 1;
    padding: 10px;

    overflow-y: auto;
    background-color: #f9f9f9;
  }
  
  .chat-message {
    margin-bottom: 10px;
  }
  
  .message {
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
  }
  
  .user-message {
    background-color: #e1ffc7;
    align-self: flex-end;
    margin-right: 10px;
  }
  
  .agent-message {
    background-color: #f1f1f1;
    align-self: flex-start;
    margin-left: 10px;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .chat-input button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #0056b3;
  }

  .advisornameimagecontainer {
    display: flex;
    outline: 15px solid orange;
  }

  .advisorname {
    font-weight: bold;
  }

  .chatinfocontainer {
    display: flex;
    height: 300px;
    outline: 5px solid blue;
  }

