.chat-page-container {
  display: flex;
  /* height: 100vh; */
  height: 1300px;
}


.chat-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 98%;
}


.chat-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}

.chat-window {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.chat-message {
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
}

.user-message {
  background-color: #e1ffc7;
  align-self: flex-end;
  margin-right: 10px;
}

.agent-message {
  background-color: #f1f1f1;
  align-self: flex-start;
  margin-left: 10px;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.chat-input button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}


.advisorandinfocontainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20;
  height: 100%;
  margin-top: 20px;
}

.advisornameimagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .advisor-container,
.chat-info-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/* .advisor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */


.advisorname h3 {
  font-size: 50px;;
  font-weight: bolder;
  margin-top: 20px;;
}

.advisorname h4 {
  font-size: 30px;;
  margin-top: 20px;;
}

.advisorimage {
  height: 400px;
  margin-top: 20px;
  outline: 1px solid black;
}

.chat-info-container {
  /* margin: 10px 10px 20px 0px; */
  max-height: 400px;
  overflow-y: auto;
}

.chatinfotext {
  margin: 20px 0px 20px 40px;
  text-align: left;
}