/* trade-in-info.css */
.trade-in-info {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin-bottom: ;
  }
  
    h1.tradeinh1 {
    margin: 30px auto;
    /* margin: 30px 0px 20px 0px; */
    color: #333;
    font-weight: bold;
  }
  
  h2.tradeinh2 {
    font-size: 2em;
  }
  
  /* h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.75em;
    font-weight: bolder;
    margin: 40px 0px 20px 0px;
  } */
  
  ol {
    padding-left: 20px;
    text-align: left;
  }
  
  li {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  strong {
    color: #0073e6;
  }
  
  p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #666;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
  }
  
  ul li {
    margin-bottom: 10px;
    color: #666;
    font-size: 20px;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    /* h2 {
      font-size: 1.5em;
    }
  
    h3 {
      font-size: 1.2em;
    } */
  
    ol, ul {
      padding-left: 15px;
    }
  }