#cartitemimage {
    border: 2px solid black; 
    margin-left: 15px;
    height: auto;
    width: 200px;
  }
  
  .item-link h5 {
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
    margin-left: 10px; 
    /* outline: red solid 2px; */
  }

  /* button {
    outline: red 5px solid;;
  } */

  .item-details {
    padding: 15px;
  }