.account-container {
  display: flex;
  margin-top: 10px;
  /* justify-content: space-around; */
}

.account-info {
  width: 40%;
  outline: 2px solid black;
  border: 5px solid red;
  /* height: 80%; */
}

.info-title {
  /* outline: 1px solid black; */
  color: black;
  background-color: #c1c7dc;
  font-size: 24px;
  width: 75%;
  margin: 1em auto;
  padding: 5px;
}

.account-info p {
  font-size: 1.5em;
  margin: 0;
  padding: 5px;
}

/* password section */

.account-password-container {
  display: flex;
  flex-flow: column wrap;
  margin-left: 3.2em;
  margin-top: 10px;
  margin-bottom: 10px;
  ;
  justify-content: flex-start;
  align-content: flex-start;
  width: 92.5%;
  height: 450px;
  outline: 2px solid black;
}



.ordersplacedsection {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 45%;
  outline: 2px solid black;
  border: 5px solid blue;
  height: 650px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;

}

.ordersplacedtitle {
  outline: 3px solid black;
  color: black;
  background-color: #c1c7dc;
  font-size: 24px;
  width: 75%;
  height: 60px;
  margin: 1em auto;
  padding: 5px;
}

.account-password-info-container {
  display: flex;
  margin-top: 10px;
  /* justify-content: space-around; */
}

.account-password-section {
  width: 40%;
  outline: 2px solid black;
  border: 5px solid purple;
  /* height: 80%; */
  margin-bottom: 10px;
}

.account-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 300px;
  /* margin: 0 auto; */
  margin: 5px;
}

.account-password-form input {
  font-size: 1.5em;
  margin: 0.20em 0;
  width: 30%;
  padding: 5px;
  height: 40px;
}

.account-password-form label {
  font-size: 1.2rem;
  margin: 0.20em 0;
  padding: 5px;
  height: 35px;
}


.passwordbutton {
  background-color: #dcdfe8;
  outline: 2px solid black;
  margin: 5px;
}


/* .account-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 300px;
  margin: 5px;
  outline: 10px solid orange;
  max-width: 40%;
} */

.account-password-container .info-title {
  max-width: 40%;
}

.account-info-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 45%;
  outline: 2px solid black;
  border: 5px solid gold;
  height: 650px;
  padding: 10px;
  margin-bottom: 10px;
}

.account-info-box {
  outline: 10px solid green;
}


@media (max-width: 768px) {
  .account-container {
    justify-content: space-evenly;
  }

  .account-password-container {
    justify-content: center;
  }

  .account-password-container .info-title {
    width: 60%;
  }
}